<h1>Ufo data analyse</h1>
In dit document gaan we een analyse maken van de ufo dataset. Dit gaan we doen aan de hand van een aantal deelvragen die we hebben opgesteld. Voor deze deelvragen gaan we alles netjes uitwerken in diagrammen zodat er gemakkelijk e

In [1]:
# The imports we will use in the rest of our project
import numpy as np
import matplotlib as mpl
import pandas as pd

In [6]:
# load in the ufo dataset from school
ufoData = pd.read_csv("ufo.csv", sep=",")

# load in the drug usage dataset from https://en.wikipedia.org/wiki/Drugs_in_the_United_States
americanDrugUsageData = pd.read_csv("drug_usage.csv", sep=",")

# americanDrugUsageData
# ufoData

,id,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,visit (seconds);;;;;;;;;;;;;;
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,255;;;;;;;;;;;;;;
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,307;;;;;;;;;;;;;
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,280;;;;;;;;;;;;;;
3,3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,202;;;;;;;;;;;;;;
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,255;;;;;;;;;;;;
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88674,88674,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444,228;;;;;;;;;;;;;;
88675,88675,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556,216;;;;;;;;;;;;;;
88676,88676,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778,176;;;;;;;;;;;;;
88677,88677,9/9/2013 23:00,starr,sc,us,diamond,0,2 nights,On September ninth my wife and i noticed stran...,9/30/2013,34.3769,-82.695833,275;;;;;;;;;;;;;;
88678,88678,9/9/2013 23:30,ft. lauderdale,fl,us,oval,0,still occuring,Hovering object lit with red and white lights&...,9/30/2013,26.1219,-80.143611,253;;;;;;;;;;;;;;

<h1>Data collection</h1>
Data collection voor het UFO project is al aangeleverd door de HU. Deze ruwe data is eerder verzameld door derde partijen.
<br> 
Er wordt wel gebruik gemaakt van een externe dataset vanuit 
<a href="https://en.wikipedia.org/wiki/Drugs_in_the_United_States" >Drugs in the United States(Wikipedia)
</a>.

<h1>Data processing</h1>
In dit onderdeel vormen we de dataset om geordende data te krijgen

<h1>Data cleaning</h1>
Bij deze stap halen we dubbele en missende data uit de dataset om als vervolg schone data te krijgen.

<h1>Data exploration & analysis</h1>
Om inzicht te krijgen in de dataset maken we gebruik van visualisaties om de data te kunnen analyseren.

<h1>Model building</h1>
We gaan hier gebruik maken van machine learning om verbanden te leggen tussen de variabelen en hieruit een voorspellend model te maken van de geanalyseerde data.

<h1>Visualization</h1>
Voor een verbeterde verkenning van de data worden er verschillende visualisaties gebruikt passend bij de dataset. 
Dit wordt gedaan om zo meer inzicht te krijgen in de dataset. 
Hier wordt bijvoorbeeld gebruik gemaakt van Matplatlib en Holoviews.

<h1>Communication</h1>
Bij het onderzoek is het duidel

Heeft drugsgebruik invloed op UFO-waarnemingen in Amerika?

Laat een map zien van de UFO-waarnemingen in een bepaalde geselecteerde periode.

Is er een verband tussen tijdstip van de dag en de duur van het zien van de UFO?

In hoeverre is er een verband tussen de vorm van de UFO en het land van de waarneming?

Is er een verband tussen tijdstip van de dag en de duur van het zien van de UFO?

Onderzoek met de dataset of Duitsers minder tijd op de website doorbrengen dan gemiddeld